@charset "utf-8";
/* CSS Document */

/* 초기화 시트 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{
 margin:0;
 padding:0;
 border:none; 
}
body{
 font-family:"나눔바른고딕";
 font-size:14px;
}
li{
 list-style:none;
}
a{
 color:#333;
 text-decoration:none; 
}
img{
 vertical-align:top;
}
img,fieldset,iframe{
 border:0;
}

